{% extends "source/base.html" %}

{% block modals %}
    <div id="confirm-cancel-entrega" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Atenção!</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Não</a>
            <a href="#" id="bt-confirm-cancel-entrega" class="btn btn-danger">Sim</a>
        </div>
    </div>
{% endblock %}

{% block source-content %}  
    <h3>Entregas pendentes</h3>
    <table id="tb-entrega-consulta" class="table table-bordered sge clickable">
        <thead>
            <tr>
                <th>Entregador</th>
                <th width="300px">Data de saída</th>
                <th width="300px">Cliente/Quantidade enviada</th>
                <!-- <th width="80px">Valor *</th> -->
                <th width="16px"></th>
            </tr>
        </thead>
        <tbody>
        {% for entrega in entregas %}
            <tr url-edit="{% url source_entrega_alteracao entrega.pk %}"
                url-cancel="{% url source_entrega_cancelamento entrega.pk %}">
                <td class="entregador_nome">{{ entrega.entregador.nome|title }}</td>
                <td class="entrega_saida">{{ entrega.saida_data }}</td>
                <td>{{ entrega.entregacliente_set.all|join:", " }}</td>
                <!-- <td>{{ entrega.valor }}</td> -->
                <td title="Cancelar entrega" class="cancel">
                    <span class="icon-remove"></span>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="no-action">Nenhuma entrega pendente.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if entregas %}
    	<!-- <div class="alert alert-block">* O valor pode variar se a entrega for parcial</div> -->
	{% endif %}

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/lib/jquery.maskedinput-1.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/scripts/entrega.js"></script>
{% endblock %}